
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Styles for the installation button */
@import "install-button.css";

@import "brick.css";

/* Your styles here */
@font-face {
    font-family: 'CommandoCommando';
    src: url('fonts/commando-webfont.eot');
    src: url('fonts/commando-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/commando-webfont.woff') format('woff'),
         url('fonts/commando-webfont.ttf') format('truetype'),
         url('fonts/commando-webfont.svg#CommandoCommando') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
    max-height: 100%;
}

button{
    cursor: pointer;
}

#flipbox{
    height:20em;
}
.main-card{
    font-family: CommandoCommando;
    background: url('../img/background.png') repeat scroll 0 0 transparent;
    display: block;
    color: #f0f0f0;
    text-align: center;
}

.main-card .title{
    font-size: 2em;
    color: orange;
}

.main-card button {
    border-radius: 3px;
    font-size: 1.75em;
    padding: .5em 1em;
    font-family: sans-serif;
    color: white;
    border-top: 2px solid #dddddd;
    border-left: 2px solid #dddddd;
    border-bottom: 2px solid #999999;
    border-right: 2px solid #999999;
    background-color: #222222;
    width: 140px;
}

.main-card button:active {
    border: 2px solid #999999;
}


.action-card{
    background: url('../img/background.png') repeat scroll 0 0 transparent;
    display: block;
    color: #f0f0f0;
}

.action-header{
    background-color: orange;
    background-image: none;
    color: white;
}

.action-header div{
    font-size: 1em;
    cursor: pointer;
}

.action-header header{
    font-family: CommandoCommando;
    font-size: 1.5em;
}
.action-card button {
    color: white;
    font-weight: bold;
}

.action-card button:active, .action-card button:hover {
    background-color: #FF4500;   
}



canvas {
    display: block;
    width: 100%;
    margin-top: 50px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}